@tailwind base;
@tailwind components;
@tailwind utilities;

.square {
  border-radius: 0px;
}
.container {
  max-width: 1200px !important;
  margin: 0 auto !important;
}
.jumbotron {
  background-image: linear-gradient(to right, #007bff, #000);
  /* color: #fff; */
  color: black;
}

.pointer {
  cursor: pointer;
}

.ant-card-meta-title {
  font-size: 12px;
}

.markdown-preview img {
  max-width: 300px;
}

.left-bottom-radius {
  border-radius: 0px 0px 10px 10px;
}

/* override bootstrap input textarea style */
input,
textarea,
.list-group-item {
  /* background-color: #000 !important; */
  /* color: white !important; */
  /* border: 1px solid #333 !important; */
}

/* markdown body img */
.single-post img {
  max-width: 100% !important;
  display: block;
  margin: 0 auto;
}

/* markdown blockquote */
blockquote {
  /* border-left: 10px solid #ccc; */
  border-left: 10px solid black;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  /* color: #ccc; */
  color: black;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* typewriter effect */
.typewriter > div {
  overflow: hidden;
  /* border-right: 3px solid #1890ff; */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.reset-before::before {
  display: none;
}

a {
  text-decoration: none !important;
}

.slider_header {
  position: absolute;
  top: 35%;
  width: 355px;
  margin-left: 80px;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.infor-parent > .infor-child:nth-child(2) {
  border-right: 2px solid #e7f0f6 !important;
  border-left: 2px solid #e7f0f6 !important;

  padding: 0 150px !important;
}
.bg-blue {
  background-color: #cce4fd !important;
}
.ant-input {
  /* border-radius: 50px !important;
  margin: 5px 0; */
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  /* color: rgb(199, 197, 197) !important; */
}
.ant-menu-horizontal > .ant-menu-item-selected a:hover {
  color: #1890ff !important;
  cursor: pointer;
}

.text-w :hover {
  color: #fff !important;
}
.side-ml-16 {
  margin-left: -16px;
}
.ant-btn {
  /* background-color: #1890ff !important; */
}
/* Categories Courses*/

.course-render-style + .course-render-style {
  margin-left: 15px;
}

/* Custom slick for course row */
.row-style {
  position: relative;
}
.row-style {
  margin-left: -22px !important;
}
.row-style .slick-prev {
  position: absolute !important;
  top: 40% !important;
  left: -40px !important;
  margin-left: 10px;
}

.row-style .slick-next {
  position: absolute !important;
  top: 40% !important;
  right: -20px !important;
}

.row-style .slick-prev:before,
.row-style .slick-next:before {
  font-size: 30px !important;
}

/* .row-style .slick-slide {
  margin-right: 15px !important;
} */
.ant-list-item-meta-title {
  margin-top: 5px !important;
}
.delete-hover {
  background-color: #fff !important;
}
.delete-hover:hover {
  background-color: #fff !important;
}
/* bá» hover */
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after {
  border-bottom: 1px solid #fff !important;
}

#disqus_thread li.nav-tab.nav-tab--primary.tab-general {
  display: none !important;
}
